body {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/1c/a6/e1/1ca6e1c35e2d884230242cc0326dbf28.jpg");
  background-size: cover;
  color: black;
}

img{
  width: 75%;
}

.row{
  align-content: center;
  padding: 10px;
}

.lists {
  text-align: left; 
  padding-left: 28%;
}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.create-form{
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
